# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [129]:
import pandas as pd
import datetime
pd.set_option('display.max_colwidth', None)
jeopardy_data =pd.read_csv('jeopardy.csv')
jeopardy_data.rename(columns= {' Air Date':'Air Date', ' Round': 'Round', ' Category': 'Category', ' Value': 'Value',\
                               ' Question': 'Question', ' Answer': 'Answer' }, inplace=True)
print(jeopardy_data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [130]:
x= jeopardy_data["Question"][3]
print(x)
vct=[]
for word in ["life", "his"]:
    print(word in x)
    vct.append(word in x)
print(vct)
print(all(vct))

In 1963, live on "The Art Linkletter Show", this company served its billionth burger
False
True
[False, True]
False

In [131]:
def filter_data(data, lst):
    filter = lambda x: all(word in x for word in lst)
    
    return data[data["Question"].apply(filter)==True]

filter = filter_data(jeopardy_data, ["King", "England"])
print(filter.head())
print(len(filter))

       Show Number    Air Date             Round          Category  Value  \
4953          3003  1997-09-24  Double Jeopardy!      "PH"UN WORDS   $200
14912         2832  1996-12-17         Jeopardy!     WORLD HISTORY   $100
21511         4650  2004-11-19         Jeopardy!        THE "O.C."  $1000
23810         4862  2005-11-01         Jeopardy!     NAME THE YEAR   $400
27555         1799  1992-05-28  Double Jeopardy!  HISTORIC IN-LAWS   $600

                                                                                                   Question  \
4953               Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912     This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                          this man and his son ruled England following the execution of King Charles I
23810  William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                    This member of the Medici family was the mother-in-law of England's King Charles I

                             Answer
4953   Philately (stamp collecting)
14912                        France
21511               Oliver Cromwell
23810                          1066
27555               Marie de Medici
49

In [132]:
jeopardy_data.loc[0]

Show Number                                                                                                4680
Air Date                                                                                             2004-12-31
Round                                                                                                 Jeopardy!
Category                                                                                                HISTORY
Value                                                                                                      $200
Question       For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
Answer                                                                                               Copernicus
Name: 0, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [133]:
def filter_data(data, lst):
    filter = lambda x: all(word.lower() in x.lower() for word in lst)
    return data[data["Question"].apply(filter)==True]

filtered = filter_data(jeopardy_data, ["King"])
print(filtered["Question"].head())

34                                                                                Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero
40    <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
50                  <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>
56                                                                                                                                       It's the largest kingdom in the United Kingdom
72                                                                                          In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects
Name: Question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [134]:
mylambda2 = lambda x: float(x[1:].replace(",", "")) if x != "None" else 0
jeopardy_data["Float Value"]=jeopardy_data["Value"].apply(mylambda2)
filtered["Float Value"]=filtered["Value"].apply(mylambda2)
print(filtered["Float Value"].mean())

771.8833850722094

C:\Users\Alonso\AppData\Local\Temp/ipykernel_17560/1057908586.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["Float Value"]=filtered["Value"].apply(mylambda2)

In [135]:
jeopardy_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,200.0
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,200.0
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,200.0
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,200.0
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,200.0

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [136]:
def answer_counts(data):
    unique_answers = pd.value_counts(data["Answer"])
    return unique_answers


answer_counts(filtered)

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [137]:
jeopardy_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,200.0
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,200.0
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,200.0
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,200.0
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,200.0

In [125]:
jeopardy_data["date"]= jeopardy_data["Air Date"].apply(lambda x: pd.to_datetime(x))

In [128]:
filtered_90s = jeopardy_data[jeopardy_data["date"]<datetime.datetime(2000,1,1)]
filter_data(filtered_90s, ["Computer"])

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,date
2410,3214,1998-07-16,Jeopardy!,PRE-COLUMBIAN CULTURES,$500,Warriors of this Yucatan civilization battle in the computer-enhanced mural seen here:,Mayans,500.0,1998-07-16
5077,3480,1999-10-22,Double Jeopardy!,19th CENTURY LITERATURE,$500,"Edward Bellamy's 1888 book ""Looking Backward"" sends a man to this year & doesn't mention computer bugs",2000,500.0,1999-10-22
18795,3175,1998-05-22,Double Jeopardy!,GREEK LETTERS,$1000,Computer games & programs undergo this test period to work out bugs before their final retail release,Beta testing,1000.0,1998-05-22
20114,980,1988-12-02,Jeopardy!,SCHOOL DAYS,$200,It used to be a student who kept order in the halls; now it's a screen for your computer,monitor,200.0,1988-12-02
20837,3118,1998-03-04,Jeopardy!,"GO TO ""H""",$200,"At best, it's a computer enthusiast; at worst, it's one who illegally taps into your computer",Hacker,200.0,1998-03-04
...,...,...,...,...,...,...,...,...,...
209897,2676,1996-04-01,Jeopardy!,APRIL FOOLS' DAY,$200,"The ""core"" of this computer company goes back to its founding, April 1, 1976",Apple Computer,200.0,1996-04-01
211882,3224,1998-09-17,Double Jeopardy!,WORD ORIGINS,$200,"Derived from the Greek for ""throw"", you can throw a floppy one into a computer & store a file",a disk,200.0,1998-09-17
212789,2871,1997-02-10,Double Jeopardy!,ESSAYS,$800,"This humorist's collection of essays ""In Cyberspace"" is formatted like a computer manual",Dave Barry,800.0,1997-02-10
216527,3038,1997-11-12,Jeopardy!,COMPUTERESE,$400,"Like a waiter, a network computer might say ""I'll be your"" this & store files or manage printers",Server,400.0,1997-11-12
216533,3038,1997-11-12,Jeopardy!,COMPUTERESE,$500,"""Strap"" once completed this word meaning to start a computer by loading software",Boot,500.0,1997-11-12

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.